  body {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
    /*background-color: black;*/
  }

  .container {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif: font-weight: bold;
    font-size: 20px;
    display: grid;
    /*1 fraction of total remaing space*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 50px;
    /*
      grid-template: 50px 1fr 1fr 100px / repeat(3, 1fr);
      */
    /*gap: 10px;
    padding: 10px;*/
    /*so that the padding will be included with the total width of the container*/
    box-sizing: border-box;
  }

  .container div {
    padding: 0px;
    /*border: 1px solid #000000;*/
  }

  .navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    background: black;
    overflow: hidden;
    width: 100%;
    margin: auto;
    align-items: center;
  }

  .navbar ul {
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 10px;
  }

  .navbar li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    font-weight: bold;
  }

  a:hover {
    color: #E2C682;
  }

  .logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

  .content-large {
    grid-row-start: 2;
    /*Could also just say 4*/
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .logo-image {}

  .img-fluid {
    width: 46px;
    height: 46px;
    object-fit: contain;
  }

  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered h1 {
    color: white;
  }

  .centered-bottom {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered-bottom h1 {
    color: white;
    font-size: 1.5em;
  }

  .footer {
    grid-column: 1 / 4;
    padding: 3em;
    background-color: #4D4530;
    /*
      grid-column-start 1;
      grid-column-end: 4;
      */
  }

  .footer ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
  }

  .footer li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }

  .footer ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 0.8em;
  }

  .footer ul li a:hover {
    color: #E2C682;
  }